/*---------------------
  Universal CSS
-----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* if we didnot use this we will not be able to center the card verically. */
html,
body {
  height: 100%;
}

body {
  background-color: var(--color-very-light-gray);
  font-family: "Poppins", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1.7em;
}

/*----------------
  Primary Colors
----------------*/

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
}

/*---------------
  Neutral Colors
---------------*/

:root {
  --color-very-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-very-light-gray: hsl(0, 0%, 98%);
}

/*--------
  Body
--------*/

.container {
  width: 85%;
  max-width: 540px;
  margin-inline: auto;
  text-align: center;
  padding-block: 4em;
}

.cards-section {
  color: var(--color-very-dark-blue);
}

.heading {
  font-weight: 200;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.body-text {
  color: var(--color-grayish-blue);
  margin-top: 1em;
  max-width: 420px;
  margin-inline: auto;

}

.cards-grid {
  display: grid;
  margin-top: 3em;
}

.card {
  text-align: left;
  padding: 1.5em;
  border-radius: 10px;
  color: var(--color-grayish-blue);
  box-shadow: 0 5px 15px 5px hsla(212, 86%, 64%, 0.2);
  margin-top: 2em;
  background-color: white;
}

.card-heading {
  color: var(--color-very-dark-blue);
  font-size: 1.3rem;
}

.card-red {
  border-top: 4px solid var(--color-red);
}

.card-orange {
  border-top: 4px solid var(--color-orange);
}

.card-blue {
  border-top: 4px solid var(--color-blue);
}

.card-cyan {
  border-top: 4px solid var(--color-cyan);
}

.card-body-text {
  margin-top: 1em;
}

.card-icon {
  margin-top: 2em;
  margin-left: auto;
}

/*----------------
  Media Queries
-----------------*/

@media screen and (min-width: 1000px) {
  .container {
    width: 80%;
    max-width: 1200px;
  }

  .body-text {
    max-width: 550px;
  }

  .heading {
    font-size: 2rem;
  }
  
  .sub-heading {
    font-size: 2rem;
  }

  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    align-items: center;
  }
}
